{% extends 'base.html.twig' %}

{% block title %}Demande de réinitialisation de mot de passe{% endblock %}

{% block body %}
<div id="wrapper-password">
    <h1>Réinitialisation du mot de passe</h1>
        <h2>Entrez votre adresse mail</h2>
        <div class="form-password">
            {{ form_start(formRequest) }}
            {{ form_row(formRequest.email) }}
            <div class="btn-password-forgot">
                <button type="submit">Envoyer</button>
            </div>
            
            {{ form_end(formRequest) }}
        </div>
           
</div>
{% endblock %}