{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <h2> Réinitialisation du mot de passe: </h2>
    {{ form_start(formPassword) }}
    {{ form_widget(formPassword) }}
    <button type="submit">Valider</button>
    {{ form_end(formPassword) }}

{% endblock %}
