{% extends 'base.html.twig' %}

{% block title %}Accueil {% endblock %}

{% block body %}
    <h1>Home</h1>
    <nav>
        <ul class="list-home">
            <li><a href="{{ path ('new_cat') }}">Ajouter un chat</a></li>
        </ul>
    </nav>
</div>
{% endblock %}
