{% extends 'base.html.twig' %}

{% block title %} Accueil {% endblock %}

{% block body %}
    <h1> Accueil </h1>
        <h2> Profils des chats </h2>
            {% for cats in cats %}
                Nom : {{ cats.name }} <br>
                Robe : {{ cats.coat }} <br>
                Age: {{ cats.age }} <br>
                <a href="{{ path('show_cat', {'id' : cats.id} )}}"> Détails </a> <br>
                {% endfor %}
</div>
{% endblock %}
