<h1>Bonjour !</h1>

<p>
    Veuillez cliquer sur le lien ci-joint pour valider votre inscription. <br><br>
    <a href="{{ signedUrl|raw }}">Confirm my Email</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Pawtners
</p>
