{% extends 'base.html.twig' %}

{% block title %}Confirmation d'email{% endblock %}

{% block body %}
  <p> Un email à été envoyé sur votre boit mail. Veuillez cliquer sur le lien pour activer votre compte. Merci!</p>
{% endblock %}
