{% extends 'base.html.twig' %}

{% block title %}Liste des likes{% endblock %}

{% block body %}
    <h1>Liste de vos likes</h1>
        {% for userLike in userLikes %}

        <div class="cat-like">
            {{ userLike.catOne.name }} avec
            {{ userLike.catTwo.name}}
            {{ userLike.likeDate}}
            <a href="{{ path('delete_like', {'id': userLike.id}) }}" 
            class="btn btn-danger" 
            >Supprimer le like</a>
        </div>

        {% endfor %}
{% endblock %}
