  /* 
=================================================================
=========================BASE==================================
=================================================================
 */

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;
}

#wrapper-base {
    background-color: var(--base-color);
    min-width: 100vw;
    min-height: 100vh;
    color: var(--text-color);

}


.nav-base {
    display: flex;
    padding-bottom: 15px;
    padding-top: 15px;
    color: var(--base-color);
    background-color: var(--nav-color);
}

.nav-base a:visited {
    color: var(--base-color);
}

.nav-base ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.nav-base li {
    padding-left: 10px;
}

.nav-base a {
    text-decoration: none;
    color: var(--base-color);
}

a {
    text-decoration: none;
    color: var(--text-color);
}

a:visited {
    text-decoration: none;
    color: var(--text-color);
}

/*Cacher le label et le champ dans les conversations*/
.d-none {
    display: none;
}

  /* 
=================================================================
=========================FOOTER==================================
=================================================================
 */

footer {
    padding-top: 70px;
    padding-bottom: 30px;
    background-color: var(--base-color);

  
}

.footer ul {
  display: flex;

  justify-content:space-around; 
}

.footer li {

  text-decoration: none;
  list-style: none;
}

  /* 
=================================================================
=========================ROOTS==================================
=================================================================
 */
:root {
    --base-color: #FCF0F0;
    --section-color: rgba(219, 189, 181, 0.6);
    --text-color: #5E3636;
    --nav-color: #70424A;

}

  /* 
=================================================================
=========================CONNEXION==================================
=================================================================
 */

 #wrapper-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
 }

 .form-login form {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow-y: auto; 
   
 }

 .form-login {
    display: flex;
    justify-content: center;
    width: 80%;
    max-width: 500px;  
    height: 100%;
    max-height: 500px;
    padding: 30px;
    border-radius: 20px;
    background-color: var(--section-color);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
 }

    .form-login button {
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--text-color);
    color: var(--base-color);
    border: none;
    border-radius: 20px;
    height: 100%;
    width: 60%;
 }

 .form-login button:hover {
    background-color: #70424A;
    cursor: pointer;
 }

 .btn-login {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
 }

 .btn-login i {
    padding-left: 5px;
    font-size: 15px;
 }

.form-login label {
    margin-top: 20px;
   
}

.form-login input {
    border: none;
    border-radius: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    
}



 .form-login h1 {
    text-align: center;
    margin-bottom: 50px;
 }



   /* 
=================================================================
=========================INSCRIPTION==================================
=================================================================
 */

 

 #wrapper-register {
    display: flex;
   justify-content: space-between;
    height: 100vh;
 }

 .section-presentation {
   display: flex;
   flex: 2; /*Permet d'avoir une section deux fois plus grande que l'autre*/
   flex-direction: column;
   align-items: center;
 }

 .section-presentation h1 {
   font-size: 50px;
   margin-top: 30px;
   margin-bottom: 20px;
   padding-left: 30px;
 }

 .section-presentation p {
   font-size: 20px;
   margin-bottom: 20px;
   padding-left: 30px;
   text-align: center;
 }

 .underline-text {
   text-decoration: underline;
 }

 .section-presentation i {
   font-size: 15px;
 }

 .btn-presentation {
   background-color: var(--nav-color);
   border-radius: 20px;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 30px;
   padding-right: 30px;
   cursor: pointer;

 }

 .btn-presentation:hover {
  opacity: 0.7;
 }

 .section-presentation a {
   color: var(--base-color);
 }

 .section-presentation img {
    max-height: 100%;       
    max-width: 100%; 
    filter: saturate(50%);
   
 }

 .img-register {
  display: flex;
  align-items: center;
  justify-content: baseline;
 }

 .section-register {
   display: flex;
   padding-left: 30px;
   padding-right: 30px;
   flex-direction: column;
   align-items: center;
   flex: 1;
   background-color: var(--section-color);
   max-height: 100vh;
   height: 100%;
   overflow: auto;
   border-radius: 20px;
 }

 .section-register label {
  display: inline-block;

  font-size: 20px;
  width: 270px;
 }

 .section-register input {
  border-radius: 20px;
  border: none;
  width: 300px;
  height: 30px;
  padding-left: 20px;
  margin-bottom: 100px;
 }

 .section-register form {
  max-height: 100%; 
 }


 .section-register h2 {
   font-size: 40px;
   margin-top: 40px;
   margin-bottom: 50px;
  border-bottom: 1px solid #5E3636;
 }

 .btn-register {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;


 }

 .btn-register button {
  border-radius: 20px;
  border: none;
  background-color: var(--nav-color);
  color: var(--base-color);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 20px;
  cursor: pointer;

 }

 .btn-register button:hover {
  opacity: 0.7;
 }

 .btn-register i {
  padding-left: 5px;
 }



 

 /* 
=================================================================
=========================RESPONSIVE==================================
=================================================================
 */
@media screen and (max-width: 768px) { 

    /* 
=================================================================
=========================INSCRIPTION==================================
=================================================================
 */ 

 #wrapper-register {
    flex-direction: column;
 }


 .section-register label {
  font-size: 20px;
  margin-top: 10px;
 }

 .section-presentation {
  margin-bottom: 20px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 0;
 }

 .section-presentation img {
  display: none;
 }

 .section-presentation i {
  display: none;
 }

.section-register form{
padding-left: 50px;

}
 .section-register input {
  width: 40%;
padding: 0;
 }

 .section-register label {
 font-size: 15px;
  width: 80px;
 }

.btn-register {
  padding-right: 60px;
  padding-bottom: 30px;
}


}


 




