{% extends 'base.html.twig' %}

{% block title %}Ajouter une image{% endblock %}

{% block body %}
    <div class="form-image">
        <h1>Ajouter des images !</h1>
            {{ form(form) }}
    </div>
{% endblock %}