{% extends 'base.html.twig' %}

{% block title %}Forum{% endblock %}

{% block body %}
    <h1> Bienvenue sur le forum ! </h1>
    Catégories : 
    {% for categories in categories %} <br>
        {{ categories}} <br>
    {% endfor %}

    Ajouter une catégorie :

    {{ form(formCategory)}}
{% endblock %}
