{% extends 'base.html.twig' %}

{% block title %}Messagerie{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>Messagerie</h1>
                <p>Boite de réception: </p>
                <a href="{{path("new_message")}}">Envoyer un message</a> <br>
                <a href="{{path("received_message")}}">Messagerie</a>
        </div>
    </div>
{% endblock %}