{% extends 'base.html.twig' %}

{% block title %}Envoyer un message{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>Envoyer un message</h1>
            {{ form(formMessage) }}
           
        </div>
    </div>
{% endblock %}
