{% extends 'base.html.twig' %}

{% block title %}Envoyer un message{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            {% if app.user.ban %}
                Vous ne pouvez pas envoyer de message.
            {% else %}
                <h1>Envoyer un message</h1>
                {{ form(formMessage) }}
            {% endif %}
           
        </div>
    </div>
{% endblock %}
