
{% extends 'base.html.twig' %}

{% block title %}Messagerie{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
                <p>Boite de réception: </p>
                <a href="{{path("new_message")}}">Envoyer un message</a> <br>
                <ul>
                    {% for correspondent in correspondents %}
                        <li> <a href="{{path("show_message", {id:correspondent.id}) }}">
                            {% if correspondent.pseudo is null %}
                                Utilisateur supprimé
                            {% else %}
                               {{ correspondent.pseudo }}
                            {% endif %}
                           
                    {% endfor %}
                </ul>
        </div>
    </div>
{% endblock %}