
{% extends 'base.html.twig' %}

{% block title %}Messagerie{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
                <p>Boite de réception: </p>
                <ul>
                    {% for correspondent in correspondents %}
                        <li> <a href="{{path("show_message", {id:correspondent.id}) }}"> 
                               {{ correspondent.pseudo }}
                            </a>
                    {% endfor %}
                </ul>
        </div>
    </div>
{% endblock %}