<h1>Messages de {{ sender.pseudo }}</h1> 

{% if messages is not empty %}
    <ul>
        {% for message in messages %}
                {{ message.messageContent }} 
                {{message.date}} <br>
        {% endfor %}
    </ul>
{% else %}
    <p>Aucun message trouvé.</p>
{% endif %}
