{% extends 'base.html.twig' %}

{% block title %} Mes matchs {% endblock %}

{% block body %}

    <h1> Mes matchs : </h1>
        {% for userMatches in userMatches %}
            {{ userMatches.catOne }} et {{ userMatches.catTwo }} le 
            {{ userMatches.matchDate }}
        {% endfor %}

{% endblock %}
