{% extends 'base.html.twig' %}

{% block title %}Liste des chats{% endblock %}

{% block body %}
    <h1> Liste des chats</h1>

        {% for cat in cats %}
        
        <li> {{ cat.name }} </li>  <br> 
       
        {% endfor %}
{% endblock %}