{% extends 'base.html.twig' %}

{% block title %}Add a category{% endblock %}

{% block body %}
    <div class="form-cat">
        <h1>Ajouter le profil de votre chat !</h1>
            {{ form(formAddCat) }}
    </div>
{% endblock %}