{% extends 'base.html.twig' %}

{% block title %}Ajouter un chat{% endblock %}

{% block body %}
    <div class="form-cat">
        {% if app.user.ban %}
            Vous ne pouvez pas ajouter de profils.
        {% else %}
            <h1>Ajouter le profil de votre chat !</h1>
            {{ form(formAddCat) }}
        {% endif %}  
    </div>
{% endblock %}