{% extends 'base.html.twig' %}

{% block title %}Hello ApiController!{% endblock %}

{% block body %}
    <select name="" id="">
        {% for breed in breeds %}
            <option value="{{breed.id}}"> {{breed.name}} </option>
        {% endfor %}
    </select>
{% endblock %}
