{% extends 'base.html.twig' %}

{% block title %}Liste des users{% endblock %}
{% block body %}

    {% for user in users %}
    <li><a href="{{ path('show_user', {'id':user.id})}}"> {{ user }} </a> <br></li>
    {% endfor %}
    

{% endblock %}
