{% extends 'base.html.twig' %}

{% block title %}Compte non vérifié{% endblock %}

{% block body %}
    <h1> Vérifier votre compte </h1>
        <h2> Oups.. </h2>
        <p> Cliquez sur le lien transmis par mail afin de vérifier votre compte </p>
{% endblock %}
