<p>Bonjour {{ user }} !</p>
<p>Afin de réinitaliser votre mot de passe, veuillez cliquer sur le lien ci-dessous. 
    Ce lien est n'est valable que 3 heures.</p>
<p><a href="{{ url|raw }}">{{ url|raw }}</a></p>
<p>Pawtners</p>